/*######### GENERAL REUSABLE STYLES############*/
html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --GREY--8: #343a40;
  --GREY--7: #495057;
  --GREY--6: #868e96;

  --GREEN--0: #ebfbee;
  --GREEN--1: #d3f9d8;
  --GREEN--6: #40c057;
  --GREEN--8: #2f9e44;
}
.margin-right-sm {
  margin-right: 1.6rem;
}
body {
  color: var(--GREY--8);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--centered-v {
  align-items: center;
}
.heading-primary,
.heading-secondary,
.heading-tertuary {
  font-weight: 700;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--GREY--8);
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertuary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--GREEN--8);
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}
