@import url("general.css");
/*########## HERO SECTION#####################*/
.section-hero {
  background-color: var(--GREEN--1);
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.description {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;
  transition: all 0.5s;
}
.btn-primary:link,
.btn-primary:visited {
  color: #fff;
  background-color: var(--GREEN--6);
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--GREEN--8);
}

.btn-secondary:link,
.btn-secondary:visited {
  color: var(--GREY--8);
  background-color: #fff;
  box-shadow: inset 0 0 0 0.3rem #fff;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: var(--GREEN--1);
}

.img-hero {
  width: 100%;
}

.delivered-imgs img {
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 0.3rem solid var(--GREEN--1);
  margin-right: -1.6rem;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.hero-img-box {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--GREY--7);
}
.delivered-imgs {
  display: flex;
}
.important {
  color: var(--GREEN--8);
}
/*############# HEADER ##############*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  background-color: var(--GREEN--1);
  padding: 0 4.8rem;
}
.logo {
  height: 2.4rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--GREY--8);
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--GREEN--8);
}

.main-nav-link.btn-cta:link,
.main-nav-link.btn-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
  background-color: var(--GREEN--6);
  color: #fff;
}

.main-nav-link.btn-cta:hover,
.main-nav-link.btn-cta:active {
  background-color: var(--GREEN--8);
}

/*######## SECTION HOW ###############*/
.how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-descreption {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  background-color: var(--GREEN--0);
  width: 60%;
  padding-bottom: 60%;

  z-index: -2;
}
.step-img-box::after {
  background-color: var(--GREEN--1);
  width: 45%;
  padding-bottom: 45%;

  z-index: -1;
}
.step-img {
  width: 35%;
}
